include LICENSE
include Makefile
include README.md
include bin/sosstat
include pylintrc
include setup.cfg
include setup.py
include requirements-dev.txt
recursive-include sosstat *.py
recursive-include tests *
recursive-include docs *.scdoc
